# sdn-zones.cfg - Configuration SDN Proxmox / VXLAN

# TODO: Définir la zone VXLAN zone-prod (mtu 1450, peers)

# TODO: Définir vnet-frontend (tag 10000) avec subnet et gateway

# TODO: Définir vnet-backend (tag 10001) avec subnet et gateway
