# Extensions OpenSSL pour le certificat serveur (complet — fixture invalid-long-validity)

authorityKeyIdentifier = keyid, issuer
basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, keyEncipherment
extendedKeyUsage       = serverAuth
subjectAltName         = @alt_names

[alt_names]
DNS.1 = opensio.home.lan
DNS.2 = www.home.lan